{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<nav class="navbar navbar-custom">
  <h5 class="text-center">{{ airportcode }} - Gate Performance for {{ performance.date }}</h5>
</nav>
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <div class="border border-default">  
            <h3>{{ performance.totalFlights }} Total Flights</h3>
            {% if performance.missedFlights == 0 %}
            <div class="alert alert-success">
            {% elif performance.missedFlights <= 5 %}
            <div class="alert alert-warning">
            {% else %}
            <div class="alert alert-danger">
            {% endif %}
              <h3>{{ performance.missedFlights }} missed</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="border border-default">  
            <h3>{{ performance.totalBlocks }} Total Blocks</h3>
            {% if performance.totalBlocks == 100 %}
            <div class="alert alert-success">
            {% elif performance.totalBlocks >= 75 %}
            <div class="alert alert-warning">
            {% else %}
            <div class="alert alert-danger">
            {% endif %}
            <h3>{{ performance.percentBlocks }} Blocks</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="container">
          <div class="border border-default">  
            <h3>{{ performance.totalSLA }} SLA Flights</h3>
            {% if performance.totalSLA == 100 %}
            <div class="alert alert-success">
            {% elif performance.totalSLA >= 75 %}
            <div class="alert alert-warning">
            {% else %}
            <div class="alert alert-danger">
            {% endif %}
              <h3>{{ performance.percentSLA }} SLA</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
  
    <table border="1">
      <th><h4> Missed flights for {{ performance.date }}</h4></th>
      <tr><td>Ground: {{ performance.missedGround }}</td></tr>
      <tr><td>Pilot: {{ performance.missedPilot }}</td></tr>
      <tr><td>Tower: {{ performance.missedTower }}</td></tr>
      <tr><td>Infrastructure: {{ performance.missedInfrastructure }}</td></tr>
      <tr><td>Interface: {{ performance.missedInterface }}</td></tr>
      <tr><td><b>Total: {{ performance.missedFlights }}</b></td></tr>
    </table>
  
</div>
<br>
<div class="container">
  <div class="border border-default">
    <h4>System Messages</h4>
    {% if performance.samInternal == 0 %}
    <div class="alert alert-success">
    {% elif performance.samInternal <= 5 %}
    <div class="alert alert-warning">
    {% else %}
    <div class="alert alert-danger">
    {% endif %}
    <h6>SAM Internal: {{ performance.samInternal }}</h6>
    </div>
    {% if performance.sdkTechnical == 0 %}
    <div class="alert alert-success">
    {% elif performance.sdkTechnical <= 5 %}
    <div class="alert alert-warning">
    {% else %}
    <div class="alert alert-danger">
    {% endif %}
    <h6>Safedock technical: {{ performance.sdkTechnical }}</h6>
    </div>
  </div>  
</div>
<hr>
  <!--- Stand Details -->
<h2>Stand Performance</h2>
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th colspan="6" style="text-align:center;">--- Performance Details ---</th>
      <th colspan="8" style="text-align:center;">--- System Messages ---</th>
    </tr>
    <tr>
      <th scope="col">Stand</th>
      <th scope="col">Flights</th>
      <th scope="col">Blocks</th>
      <th scope="col">Block %</th>
      <th scope="col">SLA Flights</th>
      <th scope="col">SLA %</th>
      <th scope="col">Ground</th>
      <th scope="col">Pilot</th>
      <th scope="col">Tower</th>
      <th scope="col">Operational</th>
      <th scope="col">Infrastructure</th>
      <th scope="col">Interface</th>
      <th scope="col">SAM Internal</th>
      <th scope="col">SDK Technical</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    {% for comment in performance.dailyDetails %}
      <td>{{ comment.0 }}</td>
      <td>{{ comment.1 }}</td>
      <td>{{ comment.2 }}</td>
      <td>{{ comment.3 }}</td>
      <td>{{ comment.4 }}</td>
      <td>{{ comment.5 }}</td>
<!--<td>{{ comment.6|cut:"[]" }}{{ comment.7|cut:"[]" }}{{ comment.8|cut:"[]" }}{{ comment.9|cut:"[]" }}{{ comment.10|cut:"[]" }}{{ comment.11|cut:"[]" }}{{ comment.12|cut:"[]" }}{{ comment.13|cut:"[]" }}</td>
      -->
      <td>{{ comment.6|cut:"[]" }}</td>
      <td>{{ comment.7|cut:"[]" }}</td>
      <td>{{ comment.8|cut:"[]" }}</td>
      <td>{{ comment.9|cut:"[]" }}</td>
      <td>{{ comment.10|cut:"[]" }}</td>
      <td>{{ comment.11|cut:"[]" }}</td>
      <td>{{ comment.12|cut:"[]" }}</td>
      <td>{{ comment.13|cut:"[]" }}</td>
    </tr>
      {% endfor %}
  
  </tbody>
</table>
<br>
<!--
<h3>Test area.....</h3>
<br>{{ performance.dailyComments }}
-->
<br><small>{{ performance.url }}</small>
{% endblock %}
